<a href="/">Go Back</a>

<h1 class="text-center">Add a Book</h1>

<form action="/create/book" method="POST">
  <input name="title" type="text" placeholder="Enter the title">
  <input name="author" type="text" placeholder="Enter the author">
  <input name="release_date" type="text" placeholder="Enter the release date (ie. YYYY-MM-DD)">
  <input name="userId" type="text" placeholder="Enter the user ID">
  <button>Submit</button>
</form>